<%= simple_form_for(@post, :html => { :multipart => true }) do |f| %>
  <%= f.input :title, label: "文章標題" %>
  <%= f.input :store, label: "店家或團體名稱" %>
  <%= f.input :front_brake_caliper, label: "前卡鉗" %>
  <%= f.input :front_wheel_rim, label: "前輪框" %>
  <%= f.input :front_shock, label: "前避震" %>
  <%= f.input :back_brake_caliper, label: "後卡鉗" %>
  <%= f.input :back_wheel_rim, label: "後輪框" %>
  <%= f.input :back_shock, label: "後避震" %>
  <%= f.input :drive_line_system, label: "傳動系統" %>
  <%= f.input :engine_system, label: "引擎系統" %>
  <%= f.input :exhaust_pipe, label: "排氣管" %>
  <%= f.input :appearance, label: "外觀" %>
  <%= f.input :others, label: "其他" %>
  <%= f.input :comment, label: "車主的話" %>

  <%= f.fields_for :post_attachments do |p| %>
    <div class="field">
      <%= p.label :image %><br>
      <%= p.file_field :image, :multiple => true, name: "post_attachments[image][]" %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>